@import url('https://fonts.googleapis.com/css?family=Spartan');

*,
*::before,
*::after{
    box-sizing: border-box;
    font-family: 'Spartan';
    font-weight: 700;
    user-select: none;
}

:root {
    --bodyBack: hsl(222, 26%, 31%);
    --bodyColor: hsl(221, 14%, 31%);
    --ingriBack: hsl(223, 31%, 20%);
    --inpredBack: hsl(6, 63%, 50%);
    --screenBack: hsl(224, 36%, 15%);
    --grivBack: hsl(30, 25%, 89%);
    --whiteColor: hsl(0, 0%, 100%);
    --blueColor: hsl(225, 21%, 49%);
    --redShadow: hsl(6, 70%, 34%);
    --blueShadow: hsl(224, 28%, 35%);
    --gShadow: hsl(28, 16%, 65%);
}

@media (prefers-color-scheme: dark) {
    :root {
        --ingriBack: hsl(0, 73%, 15%);
        --screenBack: hsl(0, 73%, 15%);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --ingriBack: hsl(194, 45%, 15%);
        --screenBack: hsl(194, 45%, 15%);
    }
}

body {
    background-color: var(--bodyBack);
    color: var(--bodyColor);
}

.container {
    margin: 40px auto 0;
    width: 220px;
}

.top {
    width: 100%;
    height: 35px;
    line-height: 31px;
    font-size: 12px;
    position: relative;
}

.calc {
    float: left;
}

.theme {
    float: right;
    width: 30%;
    height: 100%;
    font-size: 8px;
}

span {
    float: left;
    font-size: 7px;
}

.theme_controller {
    height: 100%;
    float: right;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li {
    float: right;
    padding: 0 3px;
    height: 10px;
    line-height: 10px;
}

input[type='checkbox'] {
    margin: 0;
    float: right;
    position: relative;
    appearance: none;
    width: 30px;
    height: 10px;
    background: var(--ingriBack);
    outline: none;
    border-radius: 20px;
}

input[type='checkbox']:before {
    content: '';
    position: absolute;
    top: 2px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    transition: left .2s;
}

input[type='checkbox'].theme1:before {
    left: 2px;
    background: var(--inpredBack);
}

input[type='checkbox'].theme2:before {
    left: 50%;
    transform: translateX(-50%);
    background: var(--inpredBack);
}

input[type='checkbox'].theme3:before {
    left: 95%;
    transform: translateX(-95%);
    background: var(--inpredBack);
}

.screen {
    width: 100%;
    height: 50px;
    border-radius: 3px;
    padding-right: 14px;
    background-color: var(--screenBack);
    margin-bottom: 12px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    word-wrap: break-word;
    word-break: break-all;
}

.previous {
    font-size: 12px;
    color: var(--inpredBack);
}

.current {
    font-size: 15px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    background-color: var(--ingriBack);
    padding: 14px;
    border-radius: 3px;
}

.grid-container > div {
    background-color: var(--grivBack);
    box-shadow: 0 2px 1px var(--gShadow);
    text-align: center;
    padding: 5px 0;
    border-radius: 3px;
    font-size: 14px;
    height: 25px;
    line-height: 18px;
    cursor: pointer;
}

div .item2 {
    grid-column: 1 / 3;
}

div .item3 {
    grid-column: 3 / 5;
}

div .blue {
    background-color: var(--blueColor);
    box-shadow: 0 2px 1px var(--blueShadow);
    font-size: 10px;
}

div .white {
    color: var(--whiteColor);
    font-weight: bold;
}

div .red {
    background-color: var(--inpredBack);
    box-shadow: 0 2px 1px var(--redShadow);
    font-size: 10px;
}

.attribution {
    font-size: 10px;
    margin: 12px auto 0;
    width: 380px;
    color: hsl(228, 45%, 74%);
    text-align: center;
}

a {
    color: var(--redShadow);
    margin-left: 7px;
    font-size: 12px;
}

a:first-child {
    margin-right: 4px;
}

a:last-child {
    text-decoration: none;
}

.common {
    color: var(--bodyColor);
}

@media only screen and (max-width: 400px) {
    .container {
        margin: auto;
        width: 95%;
        height: 520px;
    }

    .top {
        height: 80px;
        line-height: 70px;
        font-size: 26px;
    }

    .theme {
        width: 40%;
        font-size: 8px;
    }

    span {
        font-size: 9px;
    }

    .theme_controller {
        width: 70%;
    }
    
    ul {
        height: 100%;
    }
    
    ul li {
        padding: 13px 11px 0;
        height: 20px;
        line-height: 10px;
        font-size: 9px;
    }

    input[type='checkbox'] {
        width: 75px;
        height: 22px;
        position: absolute;
        top: 32%;
        right: 1%;
    }
    
    input[type='checkbox']:before {
        top: 4px;
        width: 14px;
        height: 14px;
    }
    
    input[type='checkbox'].theme1:before {
        left: 3px;
    }
    
    input[type='checkbox'].theme2:before {
        left: 50%;
        transform: translateX(-50%);
    }
    
    input[type='checkbox'].theme3:before {
        left: 95%;
        transform: translateX(-95%);
    }

    .screen {
        height: 70px;
        border-radius: 8px;
        margin-bottom: 18px;
        padding-right: 22px;
    }
    
    .previous {
        font-size: 15px;
    }
    
    .current {
        font-size: 19px;
        padding-left: 22px;
    }

    .grid-container {
        padding: 18px;
        height: 350px;
        border-radius: 8px;
    }
    
    .grid-container > div {
        height: 50px;
        line-height: 46px;
        width: 62px;
        font-size: 24px;
        margin: auto;
        box-shadow: 0 4px 2px var(--gShadow);
    }

    div .item2 {
        width: 98%;
    }
    
    div .item3 {
        width: 98%;
    }
    
    div .blue {
        box-shadow: 0 4px 2px var(--blueShadow);
        font-size: 16px;
    }
    
    div .red {
        box-shadow: 0 4px 2px var(--redShadow);
        font-size: 16px;
    }

    .attribution {
        font-size: 8px;
        width: 90%;
    }

    a {
        font-size: 10px;
        margin-left: 5px;
    }
}